<section>
    <div class="container-fluid " id="login_main_div">
        <div class="row">
            <div class="col-12 d-flex justify-content-center bounceIn">
                <div class="text-center" id="login_container">
                    <h1 class="text-shadow">Log In</h1>
                    <p class="mb-4 shadow1 ">New to this site?<span routerLink="/signup" id="login_signup_link">Sign Up</span></p>
                    <form id="login_form" class="g-font-size-12" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-sm hvr-shadow" #emailLogin placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-sm hvr-shadow" #passwordLogin placeholder="Password">
                        </div>
                        <p class="text-left" id="login_forgot_password">Forgot password?</p>
                        <div class="form-group">
                            <button id="login_btn" type="button" class="btn g-font-size-12 w-100 hvr-grow-shadow" (click)="login(emailLogin.value, passwordLogin.value); emailLogin.value=passwordLogin.value=''">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>