.img-page-not {
    background-image: url(https://cdn.dribbble.com/users/1175431/screenshots/6188233/404-error-dribbble-800x600.gif);
    height: 400px;
    background-position: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
}