<section>
    <div class="container con-contact">
        <form id="contact_form" class="g-font-size-12" autocomplete="off">
            <div class="row">
                <div class="col-sm-8">
                    <div class="text-center">
                        <h1>Contact Us</h1>
                    </div>
                    <form id="contact_form" class="g-font-size-12" autocomplete="off">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control form-control-sm" id="name_field" ngModel name="name" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control form-control-sm mb-4" id="email_field" ngModel name="email" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control form-control-sm" id="subject_field" ngModel name="subject" placeholder="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control form-control-sm" id="message_field" rows="3" ngModel name="message" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="d-flex justify-content-end">
                        <button type="subscribe" class="mt-3 mb-5" id="contact_form_btn">SEND</button>
                    </div>
                </div>
                <div class="col-sm-4 mb-sm-4">
                    <div class="mb-sm-0">
                        <iframe id="map" src="https://maps.google.com/maps?q=bulevar%20kralja%20petra%20novi%20sad&t=&z=13&ie=UTF8&iwloc=&output=embed" class="gallery__img gallery__img--3 slide-in from-down"></iframe>
                    </div>
                    <p class="mb-3">KSI WORKSHOP</p>
                    <div class="mb-3">
                        <p>A: Fruskogorska 7, 21000 Temerin</p>
                        <p>T: 021/422-022</p>
                        <p>E: ofice@ksimetalart.net</p>
                    </div>

                    <div class="mb-3">
                        <p>MON-FRI: 7am - 10pm</p>
                        <p>SATURDAY: 9am - 10pm</p>
                        <p>SUNDAY: 8am - 11pm</p>
                    </div>
                    <div>
                        <p>FAQ /</p>
                        <p>Shipping & Returns /</p>
                        <p>Payment Methods /</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<app-footer></app-footer>