<section>
    <div class="row justify-content-center mb-5 ">
        <div class="col-md-12 p-4 mb-4 ">
            <h2 class="text-center">Gallery</h2>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product1.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product2.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product3.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product4.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product5.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product6.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product7.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product8.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product9.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product10.jpg" class="w-100 rounded about-picture" alt="" />
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4" data-aos="flip-left">
                    <img src="./../assets/product11.jpg" class="w-100 rounded about-picture" alt="" />
                </div>

            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>