h1 {
    font-family: "Motorstrike", Arial, Helvetica, sans-serif;
}

.description h2 {
    font-family: "Motorstrike", Arial, Helvetica, sans-serif;
}

.quote h2 {
    font-family: sans-serif;
    font-style: italic;
    color: #353942;
}