<section>
    <h1 class="text-uppercase text-center pt-4" data-aos="slide-up">Serbian made and proud of it</h1>
    <!-- Artist -->
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="row description pb-4">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="./../assets/Cameron-Marcoux.jpg" class="w-100 rounded" data-aos="fade-right" alt="" />
                    <div data-aos="flip-down">
                        <h2 class="text-uppercase">Cameron Marcoux</h2>
                        <p>CAMERON MARCOUX is the President and Artist, He has been a metal artist since the age of 17. His designs and techniques have led to some of the most unique and beautiful pieces of artwork. Starting his career in pencil and learning
                            how to weld and fabricate, Cameron blended the two to create these extremely detailed pieces. The approach to the finishes leaves the artwork ready for the Gallery.</p>
                        <p>Inspired by his love of the outdoors and the western lifestyle, Cameron uses images burned into his mempry to create the scenes that you see today.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="./../assets/Brian-Nelson.jpg" class="w-100 rounded" data-aos="fade-left" alt="" />
                    <div data-aos="flip-down">
                        <h2 class="text-uppercase">Brian Nelson</h2>
                        <p>BRIAN NELSON is the Vice President and CFO of Montana Metal Art Company. He graduated from Montana State University in Bozeman with a BS in Agricultural Business. Brian worked many different jobs through out the continuation of
                            his education, from ranching to retail, to construction and more. This diverse background in business matched with Cameron's unique artistic style combines for a great quality product and the ability to create a special relationship
                            with each and everyone one of our customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Quote -->
    <div class="quote text-center">
        <h2><strong>"Art washes away from the soul the dust of everyday life." &#x2014; Pablo Picasso</strong></h2>
    </div>

    <app-footer></app-footer>

</section>