<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="text-right"><i class="fa fa-times" aria-hidden="true" (click)="closeDialog()"></i></p>
                <h1 class="txt-mat text-center">WE WANT TO MEET YOU</h1>
                <p class="text-center mb-4">Please, Login to continue enjoying shopping on our site</p>
                <div class="w-100 d-flex justify-content-center">
                    <button class="btn btn-dark btn-sm text-center g-font-size-12" (click)="login()" id="meet_you_log_in_button">Log In</button>
                </div>
            </div>
        </div>
    </div>
</section>