<section>
    <div class="view-gallery">
        <img src="../../assets/metalArt2.JPG" alt="Snow">

        <div class="txt-gallery">
            <div class="text-uppercase">
                <h2>Ksi metal art</h2>
                <h2>Art company</h2>
            </div>
            <p>Beauty that comes from trust</p>
            <button type="button" class="btn-out text-white" (click)="openGallery()">View Gallery</button>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center p-4">
            <div class="row" data-aos="flip-up">
                <div class="col-lg-4 col-md-12 col-sm-12" data-item="">
                    <div class="bg-white img-fluid">
                        <img src="../../assets/custom_metal_art_fireplace_mt_decor.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-center" data-item="">
                    <div class="bg-white rounded-lg shadow p-3 text-center">
                        <h2>Add Custom Metal Art To Your Interior Design</h2>
                        <p>Are you looking to add a personal touch to your home or workspace? KSI Art Company crafts handmade, custom metal artwork in Bozeman, MT. Our crew can create anything you envision. From metal business signs to any typ of personal
                            project, we've got the skills and equipment <br>needed to create the art piece of your dreams. </p>
                        <p>Make us your preferred metal art company in KSI Metal Art. Call 406-624-0404 to inquier about our custom metal artwork.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12" data-item="">
                    <div class="bg-white img-fluid">
                        <img src="../../assets/Custom-Copper-Metal-Art-Installed.jpg" class="img-fluid img-thumbnail" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="parallax1">
        <div class="text-parallax1 text-white text-center" data-aos="flip-right">
            <h1><i>"Art washes away from the soul the dust of everyday life." ━ Pablo Picasso</i></h1>
            <button type="button" class="btn-out" (click)="openOurStory()">OUR STORY</button>
        </div>

    </div>
</section>

<!--Product-->
<!--CARD-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 card-content-cat " data-item=" ">
                <div class="card-item-cat " data-aos="flip-right " [style.background-image]=" 'url(' + category.imgSrc + ')'" *ngFor="let category of categories">
                    <div class="text-center text-white" [routerLink]="[ '/shop', category.id, category.name]">
                        <h3 class="card-text text-uppercase ">{{category.name}}</h3>
                        <hr>
                        <p class="card-text m-3 ">{{category.des}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 d-flex justify-content-center" data-aos="zoom-in">
                <button class="home_load_more_btn" (click)="openShop()">Load more</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="parallax2">
        <div class="text-parallax2 " data-aos="zoom-in">
            <h1>We have a wide variety of metal art for sale</h1>
            <button type="button" class="btn-out text-uppercase" (click)="openContact()">Contact us</button>
        </div>
    </div>
</section>

<app-footer></app-footer>