/* Image gallery */

.view-gallery {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 400px;
    background-repeat: round;
}

.view-gallery img {
    width: 100%;
    height: 400px;
}

.btn-out {
    width: 120px;
    height: 40px;
    background-color: #353942;
    color: #d4d7d1;
}

.txt-gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt-gallery h2 {
    font-size: 40px;
    font-family: "Motorstrike", Arial, Helvetica, sans-serif;
}


/* Image Out story */

.parallax1 {
    background-image: url("../../assets/metalArt3.JPG");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.text-parallax1 {
    padding: 100px;
}

.parallax2 {
    background-image: url("../../assets/metalArt1.JPG");
    max-height: 260px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-parallax2 {
    text-align: center;
    padding: 5% 5% 5% 5%;
    color: aliceblue;
}

hr {
    border-bottom: 2px solid white;
}

.card-content-cat {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.9;
}

.card-content-cat .card-item-cat {
    background-color: gray;
    width: 240px;
    height: 350px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-content-cat .card-item-cat hr {
    width: 100%;
}

.card-item-cat:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.home_load_more_btn {
    background-color: white;
    border: 2px solid #b3bac0;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .img-cen {
        text-align: center;
    }
}